---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { client } from '../../lib/microcms';

const data = await client.get({
  endpoint: 'articles'
});
const articles = data.contents;
---

<BaseLayout title="記事一覧">
<h2>記事一覧</h2>
<ul>
  {articles.map(article => (
    <li><a href={`/articles/${article.slug}/`}>{article.title}</a></li>
  ))}
</ul>
</BaseLayout>
