---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="プライバシーポリシー" description="プライバシーポリシー">
  <section class="card">
    <h1>プライバシーポリシー</h1>
    <p>当サイトはGoogleなどの広告サービスを利用する場合があります。</p>
  </section>
</BaseLayout>